In [1]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')

In [2]:
#Import the data frames created from the previous Jupyter Notebook.  In this case, we will be merging all of the data
#together in one by year to make it easier for our machine learning analysis
vote = pd.read_excel('vote_10-05.xlsx')
inc = pd.read_excel('inc_10-08.xlsx')
gdp = pd.read_excel('gdp_10-08.xlsx')
vote_groups = pd.read_excel('vote_groups_09-30.xlsx')
vote.head()

,Unnamed: 0,GeoFIPS,State,Area,Year,TotalVotes,RepVotes,RepCandidate,DemVotes,DemCandidate,ThirdVotes,PluralityVotes,PluralityParty,RepVotesTotalPercent,DemVotesTotalPercent,ThirdVotesTotalPercent,ElectoralRepVotes,ElectoralDemVotes,ElectoralOtherVotes,VictoriousParty
0,0,"""01001""",Alabama,"Autauga, AL",2004,20081,15196,"Bush, George W.",4758,"Kerry, John F.",127,10438,R,75.673522,23.694039,0.632439,9,0,0,R
1,1,"""01003""",Alabama,"Baldwin, AL",2004,69320,52971,"Bush, George W.",15599,"Kerry, John F.",750,37372,R,76.415176,22.502885,1.081939,9,0,0,R
2,2,"""01005""",Alabama,"Barbour, AL",2004,10777,5899,"Bush, George W.",4832,"Kerry, John F.",46,1067,R,54.736940,44.836225,0.426835,9,0,0,R
3,3,"""01007""",Alabama,"Bibb, AL",2004,7600,5472,"Bush, George W.",2089,"Kerry, John F.",39,3383,R,72.000000,27.486842,0.513158,9,0,0,R
4,4,"""01009""",Alabama,"Blount, AL",2004,21504,17386,"Bush, George W.",3938,"Kerry, John F.",180,13448,R,80.850074,18.312872,0.837054,9,0,0,R

In [3]:
inc.head()

,Unnamed: 0,GeoFIPS,State,GeoName,Description,Unit,2004,2005,2006,2007,...,2010,2011,2012,2013,2014,2015,2016,Total_Ab,Total_Re,PartyPref
0,0,"""01001""",Alabama,"Autauga, AL",Population (persons),Number of persons,48366,49676,51328,52405,...,54773,55227,54954,54727,54893,54864,55243,6877,14.218666,Solid R
1,1,"""01001""",Alabama,"Autauga, AL",Per capita personal income (dollars),Dollars,27542,28779,29784,31472,...,33348,34337,35067,35538,36786,38849,39883,12341,44.807930,Solid R
2,2,"""01003""",Alabama,"Baldwin, AL",Population (persons),Number of persons,156266,162183,168121,172404,...,183112,186558,190145,194885,199183,202939,207601,51335,32.851036,Solid R
3,3,"""01003""",Alabama,"Baldwin, AL",Per capita personal income (dollars),Dollars,30361,32329,34879,36092,...,36143,37881,38259,38222,39602,41613,43143,12782,42.100063,Solid R
4,4,"""01005""",Alabama,"Barbour, AL",Population (persons),Number of persons,28287,28027,27861,27757,...,27327,27341,27169,26937,26755,26283,25806,-2481,-8.770813,Tossup

In [4]:
gdp.head()

,Unnamed: 0,GeoFIPS,GeoName,Description,Unit,State,2004,2005,2006,2007,...,2010-Share,2011-Share,2012-Share,2013-Share,2014-Share,2015-Share,2016-Share,Total_Ab,Total_Re,PartyPref
0,0,"""01001""","Autauga, AL",Utilities,Billions of dollars,Alabama,0.081339,0.067098,0.111611,0.129539,...,17.808237,23.210284,29.830183,25.800096,25.116652,27.957215,26.587851,0.374971,460.997799,Solid R
1,1,"""01001""","Autauga, AL",Construction,Billions of dollars,Alabama,0.049238,0.045636,0.049644,0.068217,...,3.168697,3.378915,3.102288,3.084380,2.787066,2.678835,2.755858,-0.001941,-3.942077,Solid R
2,2,"""01001""","Autauga, AL",Manufacturing,Billions of dollars,Alabama,0.192625,0.207433,0.228140,0.208033,...,17.050426,14.458899,13.520692,13.170200,15.083891,15.132207,16.347586,0.087938,45.652433,Solid R
3,3,"""01001""","Autauga, AL",Transportation,Billions of dollars,Alabama,0.014354,0.016462,0.019876,0.020234,...,1.026057,1.134835,1.107235,1.058448,0.970788,1.016382,0.939498,0.001770,12.331058,Solid R
4,4,"""01001""","Autauga, AL",Information,Billions of dollars,Alabama,0.011902,0.011854,0.012418,0.011649,...,0.463190,0.395795,0.599881,0.947040,1.133927,1.059923,1.504106,0.013912,116.887918,Solid R

In [5]:
vote_groups.head()

,Unnamed: 0,GeoFIPS,State,Area,RepAveragePercent,DemAveragePercent,ThirdAveragePercent,PartyPref
0,0,"""01001""",Alabama,"Autauga, AL",73.636951,24.944773,1.418276,Solid R
1,1,"""01003""",Alabama,"Baldwin, AL",76.360048,21.812804,1.827148,Solid R
2,2,"""01005""",Alabama,"Barbour, AL",51.365440,47.920566,0.713994,Tossup
3,3,"""01007""",Alabama,"Bibb, AL",73.418284,25.371230,1.210486,Solid R
4,4,"""01009""",Alabama,"Blount, AL",85.119047,13.399093,1.481859,Solid R

In [6]:
#Drop the columns listed below, as only the election years will be included later
vote = vote.drop(['Unnamed: 0'], axis=1)
inc = inc.drop(['Unnamed: 0','2005','2006','2007','2009','2010','2011','2013','2014','2015'], axis=1)
gdp = gdp.drop(['Unnamed: 0','2005','2006','2007','2009','2010','2011','2013','2014','2015',
                '2005-Share','2006-Share','2007-Share','2009-Share','2010-Share',
                '2011-Share','2013-Share','2014-Share','2015-Share'], axis=1)
vote_groups = vote_groups.drop(['Unnamed: 0'], axis=1)
vote.head()

,GeoFIPS,State,Area,Year,TotalVotes,RepVotes,RepCandidate,DemVotes,DemCandidate,ThirdVotes,PluralityVotes,PluralityParty,RepVotesTotalPercent,DemVotesTotalPercent,ThirdVotesTotalPercent,ElectoralRepVotes,ElectoralDemVotes,ElectoralOtherVotes,VictoriousParty
0,"""01001""",Alabama,"Autauga, AL",2004,20081,15196,"Bush, George W.",4758,"Kerry, John F.",127,10438,R,75.673522,23.694039,0.632439,9,0,0,R
1,"""01003""",Alabama,"Baldwin, AL",2004,69320,52971,"Bush, George W.",15599,"Kerry, John F.",750,37372,R,76.415176,22.502885,1.081939,9,0,0,R
2,"""01005""",Alabama,"Barbour, AL",2004,10777,5899,"Bush, George W.",4832,"Kerry, John F.",46,1067,R,54.736940,44.836225,0.426835,9,0,0,R
3,"""01007""",Alabama,"Bibb, AL",2004,7600,5472,"Bush, George W.",2089,"Kerry, John F.",39,3383,R,72.000000,27.486842,0.513158,9,0,0,R
4,"""01009""",Alabama,"Blount, AL",2004,21504,17386,"Bush, George W.",3938,"Kerry, John F.",180,13448,R,80.850074,18.312872,0.837054,9,0,0,R

In [7]:
#Split vote by creating a new data frame for each year
vote4 = vote[vote.Year == 2004].reset_index(drop=True)
vote8 = vote[vote.Year == 2008].reset_index(drop=True)
vote12 = vote[vote.Year == 2012].reset_index(drop=True)
vote16 = vote[vote.Year == 2016].reset_index(drop=True)
vote16.head()

,GeoFIPS,State,Area,Year,TotalVotes,RepVotes,RepCandidate,DemVotes,DemCandidate,ThirdVotes,PluralityVotes,PluralityParty,RepVotesTotalPercent,DemVotesTotalPercent,ThirdVotesTotalPercent,ElectoralRepVotes,ElectoralDemVotes,ElectoralOtherVotes,VictoriousParty
0,"""01001""",Alabama,"Autauga, AL",2016,24973,18172,"Trump, Donald J.",5936,"Clinton, Hillary R.",865,12236,R,72.766588,23.769671,3.463741,9,0,0,R
1,"""01003""",Alabama,"Baldwin, AL",2016,95215,72883,"Trump, Donald J.",18458,"Clinton, Hillary R.",3874,54425,R,76.545712,19.385601,4.068687,9,0,0,R
2,"""01005""",Alabama,"Barbour, AL",2016,10469,5454,"Trump, Donald J.",4871,"Clinton, Hillary R.",144,583,R,52.096666,46.527844,1.375490,9,0,0,R
3,"""01007""",Alabama,"Bibb, AL",2016,8819,6738,"Trump, Donald J.",1874,"Clinton, Hillary R.",207,4864,R,76.403220,21.249575,2.347205,9,0,0,R
4,"""01009""",Alabama,"Blount, AL",2016,25588,22859,"Trump, Donald J.",2156,"Clinton, Hillary R.",573,20703,R,89.334844,8.425825,2.239331,9,0,0,R

In [8]:
#For each year, split inc by its population or per-capita income figures
inc4 = inc.iloc[:,[0,1,2,3,5]]
inc4_pop = inc4.loc[inc4.Description.str.contains('Population')].reset_index(drop=True)
inc4_inc = inc4.loc[inc4.Description.str.contains('Per')].reset_index(drop=True)

inc8 = inc.iloc[:,[0,1,2,3,6]]
inc8_pop = inc8.loc[inc4.Description.str.contains('Population')].reset_index(drop=True)
inc8_inc = inc8.loc[inc4.Description.str.contains('Per')].reset_index(drop=True)

inc12 = inc.iloc[:,[0,1,2,3,7]]
inc12_pop = inc12.loc[inc4.Description.str.contains('Population')].reset_index(drop=True)
inc12_inc = inc12.loc[inc4.Description.str.contains('Per')].reset_index(drop=True)

inc16 = inc.iloc[:,[0,1,2,3,8]]
inc16_pop = inc16.loc[inc4.Description.str.contains('Population')].reset_index(drop=True)
inc16_inc = inc16.loc[inc4.Description.str.contains('Per')].reset_index(drop=True)

inc16_pop.head()

   GeoFIPS    State      GeoName           Description    2016
0  "01001"  Alabama  Autauga, AL  Population (persons)   55243
1  "01003"  Alabama  Baldwin, AL  Population (persons)  207601
2  "01005"  Alabama  Barbour, AL  Population (persons)   25806
3  "01007"  Alabama     Bibb, AL  Population (persons)   22586
4  "01009"  Alabama   Blount, AL  Population (persons)   57494

In [9]:
#Rename the year column to the proper variable and drop the Description column
inc4_pop = inc4_pop.rename(columns = {'2004':'Population'})
inc4_pop = inc4_pop.drop(['Description'], axis=1)

inc8_pop = inc8_pop.rename(columns = {'2008':'Population'})
inc8_pop = inc8_pop.drop(['Description'], axis=1)

inc12_pop = inc12_pop.rename(columns = {'2012':'Population'})
inc12_pop = inc12_pop.drop(['Description'], axis=1)

inc16_pop = inc16_pop.rename(columns = {'2016':'Population'})
inc16_pop = inc16_pop.drop(['Description'], axis=1)

inc4_inc = inc4_inc.rename(columns = {'2004':'Per-Capita Income'})
inc4_inc = inc4_inc.drop(['Description'], axis=1)

inc8_inc = inc8_inc.rename(columns = {'2008':'Per-Capita Income'})
inc8_inc = inc8_inc.drop(['Description'], axis=1)

inc12_inc = inc12_inc.rename(columns = {'2012':'Per-Capita Income'})
inc12_inc = inc12_inc.drop(['Description'], axis=1)

inc16_inc = inc16_inc.rename(columns = {'2016':'Per-Capita Income'})
inc16_inc = inc16_inc.drop(['Description'], axis=1)

inc16_inc.head()

   GeoFIPS    State      GeoName  Per-Capita Income
0  "01001"  Alabama  Autauga, AL              39883
1  "01003"  Alabama  Baldwin, AL              43143
2  "01005"  Alabama  Barbour, AL              31932
3  "01007"  Alabama     Bibb, AL              28976
4  "01009"  Alabama   Blount, AL              32902

In [10]:
#For each year, concatenate its voting, population, and per-capita income data
data4 = pd.concat([vote4, inc4_pop['Population'], inc4_inc['Per-Capita Income']], axis=1)
data8 = pd.concat([vote8, inc8_pop['Population'], inc8_inc['Per-Capita Income']], axis=1)
data12 = pd.concat([vote12, inc12_pop['Population'], inc12_inc['Per-Capita Income']], axis=1)
data16 = pd.concat([vote16, inc16_pop['Population'], inc16_inc['Per-Capita Income']], axis=1)
data16.head()

,GeoFIPS,State,Area,Year,TotalVotes,RepVotes,RepCandidate,DemVotes,DemCandidate,ThirdVotes,...,PluralityParty,RepVotesTotalPercent,DemVotesTotalPercent,ThirdVotesTotalPercent,ElectoralRepVotes,ElectoralDemVotes,ElectoralOtherVotes,VictoriousParty,Population,Per-Capita Income
0,"""01001""",Alabama,"Autauga, AL",2016,24973,18172,"Trump, Donald J.",5936,"Clinton, Hillary R.",865,...,R,72.766588,23.769671,3.463741,9,0,0,R,55243,39883
1,"""01003""",Alabama,"Baldwin, AL",2016,95215,72883,"Trump, Donald J.",18458,"Clinton, Hillary R.",3874,...,R,76.545712,19.385601,4.068687,9,0,0,R,207601,43143
2,"""01005""",Alabama,"Barbour, AL",2016,10469,5454,"Trump, Donald J.",4871,"Clinton, Hillary R.",144,...,R,52.096666,46.527844,1.375490,9,0,0,R,25806,31932
3,"""01007""",Alabama,"Bibb, AL",2016,8819,6738,"Trump, Donald J.",1874,"Clinton, Hillary R.",207,...,R,76.403220,21.249575,2.347205,9,0,0,R,22586,28976
4,"""01009""",Alabama,"Blount, AL",2016,25588,22859,"Trump, Donald J.",2156,"Clinton, Hillary R.",573,...,R,89.334844,8.425825,2.239331,9,0,0,R,57494,32902

In [11]:
#For each year, split gdp by its GDP figure and share over the industries
gdp4 = gdp.iloc[:,[0,1,2,3,5,9]]
gdp8 = gdp.iloc[:,[0,1,2,3,6,10]]
gdp12 = gdp.iloc[:,[0,1,2,3,7,11]]
gdp16 = gdp.iloc[:,[0,1,2,3,8,12]]
gdp16.head()

,GeoFIPS,GeoName,Description,Unit,2016,2016-Share
0,"""01001""","Autauga, AL",Utilities,Billions of dollars,0.456310,26.587851
1,"""01001""","Autauga, AL",Construction,Billions of dollars,0.047297,2.755858
2,"""01001""","Autauga, AL",Manufacturing,Billions of dollars,0.280563,16.347586
3,"""01001""","Autauga, AL",Transportation,Billions of dollars,0.016124,0.939498
4,"""01001""","Autauga, AL",Information,Billions of dollars,0.025814,1.504106

In [12]:
#In this cell and the one after the next, convert the industries into columns for each year, and calculate their GDP
#shares in several new ones.  As a convenience for later, reset the index numbers as well
x4 = gdp4.pivot_table(values='2004', index='GeoName', columns='Description', aggfunc='first')
x4['Construction Share'] = (x4['Construction']/x4['Total GDP'])*100
x4['Education and Health Share'] = (x4['Education and Health']/x4['Total GDP'])*100
x4['Finance Share'] = (x4['Finance']/x4['Total GDP'])*100
x4['Food and Recreation Share'] = (x4['Food and Recreation']/x4['Total GDP'])*100
x4['Government Share'] = (x4['Government']/x4['Total GDP'])*100
x4['Information Share'] = (x4['Information']/x4['Total GDP'])*100
x4['Manufacturing Share'] = (x4['Manufacturing']/x4['Total GDP'])*100
x4['Natural Resources Share'] = (x4['Natural Resources']/x4['Total GDP'])*100
x4['Other Share'] = (x4['Other']/x4['Total GDP'])*100
x4['Professional Share'] = (x4['Professional']/x4['Total GDP'])*100
x4['Trade Share'] = (x4['Trade']/x4['Total GDP'])*100
x4['Transportation Share'] = (x4['Transportation']/x4['Total GDP'])*100
x4['Utilities Share'] = (x4['Utilities']/x4['Total GDP'])*100
x4 = x4.reset_index(drop=False)
x4.head()

Description,GeoName,Construction,Education and Health,Finance,Food and Recreation,Government,Information,Manufacturing,Natural Resources,Other,...,Food and Recreation Share,Government Share,Information Share,Manufacturing Share,Natural Resources Share,Other Share,Professional Share,Trade Share,Transportation Share,Utilities Share
0,"Abbeville, SC",0.023145,0.027306,0.055672,0.000000,0.075664,0.011016,0.170339,0.009794,0.016230,...,0.000000,17.939423,2.611819,40.386225,2.322091,3.848023,3.326181,0.000000,3.688222,0.716970
1,"Acadia, LA",0.066568,0.073913,0.148540,0.021437,0.137624,0.016628,0.101600,0.273883,0.034227,...,1.835454,11.783482,1.423703,8.699077,23.450092,2.930544,4.586537,11.306660,2.692005,6.546227
2,"Accomack, VA",0.041966,0.037359,0.157719,0.036339,0.181537,0.013094,0.641903,0.133653,0.029255,...,2.529208,12.635042,0.911347,44.676685,9.302298,2.036159,5.029810,4.813701,0.722313,0.845088
3,"Ada, ID",0.979727,1.305324,2.397339,0.437937,1.866741,0.487373,3.187439,0.093306,0.290367,...,2.775518,11.830864,3.088829,20.201065,0.591346,1.840262,13.315758,14.336059,1.917563,0.427105
4,"Adair, IA",0.009058,0.008629,0.034267,0.004128,0.022991,0.000000,0.072796,0.061393,0.008254,...,1.603225,8.929203,0.000000,28.272377,23.843701,3.205673,2.994396,9.613913,0.000000,1.359712

In [13]:
#This is a check to make sure the industry conversion to columns has worked and the industry shares are equivalent to
#the previous data frame corresponding with the same year
gdp4.loc[(gdp4.GeoName == 'Ada, ID'), ['GeoFIPS','GeoName','Description',
                                       '2004','2004-Share']].sort_values(by='Description')

      GeoFIPS  GeoName           Description       2004  2004-Share
7309  "16001"  Ada, ID          Construction   0.979727    6.209226
7315  "16001"  Ada, ID  Education and Health   1.305324    8.272765
7313  "16001"  Ada, ID               Finance   2.397339   15.193640
7316  "16001"  Ada, ID   Food and Recreation   0.437937    2.775518
7318  "16001"  Ada, ID            Government   1.866741   11.830864
7312  "16001"  Ada, ID           Information   0.487373    3.088829
7310  "16001"  Ada, ID         Manufacturing   3.187439   20.201065
7319  "16001"  Ada, ID     Natural Resources   0.093306    0.591346
7317  "16001"  Ada, ID                 Other   0.290367    1.840262
7314  "16001"  Ada, ID          Professional   2.101036   13.315758
7321  "16001"  Ada, ID             Total GDP  15.778569  100.000000
7320  "16001"  Ada, ID                 Trade   2.262025   14.336059
7311  "16001"  Ada, ID        Transportation   0.302564    1.917563
7308  "16001"  Ada, ID             Utilities   0.067391    0.427105

In [14]:
x8 = gdp8.pivot_table(values='2008', index='GeoName', columns='Description', aggfunc='first')
x8['Construction Share'] = (x8['Construction']/x8['Total GDP'])*100
x8['Education and Health Share'] = (x8['Education and Health']/x8['Total GDP'])*100
x8['Finance Share'] = (x8['Finance']/x8['Total GDP'])*100
x8['Food and Recreation Share'] = (x8['Food and Recreation']/x8['Total GDP'])*100
x8['Government Share'] = (x8['Government']/x8['Total GDP'])*100
x8['Information Share'] = (x8['Information']/x8['Total GDP'])*100
x8['Manufacturing Share'] = (x8['Manufacturing']/x8['Total GDP'])*100
x8['Natural Resources Share'] = (x8['Natural Resources']/x8['Total GDP'])*100
x8['Other Share'] = (x8['Other']/x8['Total GDP'])*100
x8['Professional Share'] = (x8['Professional']/x8['Total GDP'])*100
x8['Trade Share'] = (x8['Trade']/x8['Total GDP'])*100
x8['Transportation Share'] = (x8['Transportation']/x8['Total GDP'])*100
x8['Utilities Share'] = (x8['Utilities']/x8['Total GDP'])*100
x8 = x8.reset_index(drop=False)

x12 = gdp12.pivot_table(values='2012', index='GeoName', columns='Description', aggfunc='first')
x12['Construction Share'] = (x12['Construction']/x12['Total GDP'])*100
x12['Education and Health Share'] = (x12['Education and Health']/x12['Total GDP'])*100
x12['Finance Share'] = (x12['Finance']/x12['Total GDP'])*100
x12['Food and Recreation Share'] = (x12['Food and Recreation']/x12['Total GDP'])*100
x12['Government Share'] = (x12['Government']/x12['Total GDP'])*100
x12['Information Share'] = (x12['Information']/x12['Total GDP'])*100
x12['Manufacturing Share'] = (x12['Manufacturing']/x12['Total GDP'])*100
x12['Natural Resources Share'] = (x12['Natural Resources']/x12['Total GDP'])*100
x12['Other Share'] = (x12['Other']/x12['Total GDP'])*100
x12['Professional Share'] = (x12['Professional']/x12['Total GDP'])*100
x12['Trade Share'] = (x12['Trade']/x12['Total GDP'])*100
x12['Transportation Share'] = (x12['Transportation']/x12['Total GDP'])*100
x12['Utilities Share'] = (x12['Utilities']/x12['Total GDP'])*100
x12 = x12.reset_index(drop=False)

x16 = gdp16.pivot_table(values='2016', index='GeoName', columns='Description', aggfunc='first')
x16['Construction Share'] = (x16['Construction']/x16['Total GDP'])*100
x16['Education and Health Share'] = (x16['Education and Health']/x16['Total GDP'])*100
x16['Finance Share'] = (x16['Finance']/x16['Total GDP'])*100
x16['Food and Recreation Share'] = (x16['Food and Recreation']/x16['Total GDP'])*100
x16['Government Share'] = (x16['Government']/x16['Total GDP'])*100
x16['Information Share'] = (x16['Information']/x16['Total GDP'])*100
x16['Manufacturing Share'] = (x16['Manufacturing']/x16['Total GDP'])*100
x16['Natural Resources Share'] = (x16['Natural Resources']/x16['Total GDP'])*100
x16['Other Share'] = (x16['Other']/x16['Total GDP'])*100
x16['Professional Share'] = (x16['Professional']/x16['Total GDP'])*100
x16['Trade Share'] = (x16['Trade']/x16['Total GDP'])*100
x16['Transportation Share'] = (x16['Transportation']/x16['Total GDP'])*100
x16['Utilities Share'] = (x16['Utilities']/x16['Total GDP'])*100
x16 = x16.reset_index(drop=False)

In [15]:
#Drop the unneeded axis name
x4 = x4.rename_axis(None, axis=1)
x8 = x8.rename_axis(None, axis=1)
x12 = x12.rename_axis(None, axis=1)
x16 = x16.rename_axis(None, axis=1)
x4.head()

,GeoName,Construction,Education and Health,Finance,Food and Recreation,Government,Information,Manufacturing,Natural Resources,Other,...,Food and Recreation Share,Government Share,Information Share,Manufacturing Share,Natural Resources Share,Other Share,Professional Share,Trade Share,Transportation Share,Utilities Share
0,"Abbeville, SC",0.023145,0.027306,0.055672,0.000000,0.075664,0.011016,0.170339,0.009794,0.016230,...,0.000000,17.939423,2.611819,40.386225,2.322091,3.848023,3.326181,0.000000,3.688222,0.716970
1,"Acadia, LA",0.066568,0.073913,0.148540,0.021437,0.137624,0.016628,0.101600,0.273883,0.034227,...,1.835454,11.783482,1.423703,8.699077,23.450092,2.930544,4.586537,11.306660,2.692005,6.546227
2,"Accomack, VA",0.041966,0.037359,0.157719,0.036339,0.181537,0.013094,0.641903,0.133653,0.029255,...,2.529208,12.635042,0.911347,44.676685,9.302298,2.036159,5.029810,4.813701,0.722313,0.845088
3,"Ada, ID",0.979727,1.305324,2.397339,0.437937,1.866741,0.487373,3.187439,0.093306,0.290367,...,2.775518,11.830864,3.088829,20.201065,0.591346,1.840262,13.315758,14.336059,1.917563,0.427105
4,"Adair, IA",0.009058,0.008629,0.034267,0.004128,0.022991,0.000000,0.072796,0.061393,0.008254,...,1.603225,8.929203,0.000000,28.272377,23.843701,3.205673,2.994396,9.613913,0.000000,1.359712

In [16]:
#In the voting, population, and per-capita income data, sort the names under the Area column in alphabetical order
data4 = data4.sort_values(by='Area').reset_index(drop=True)
data8 = data8.sort_values(by='Area').reset_index(drop=True)
data12 = data12.sort_values(by='Area').reset_index(drop=True)
data16 = data16.sort_values(by='Area').reset_index(drop=True)
data16.head()

,GeoFIPS,State,Area,Year,TotalVotes,RepVotes,RepCandidate,DemVotes,DemCandidate,ThirdVotes,...,PluralityParty,RepVotesTotalPercent,DemVotesTotalPercent,ThirdVotesTotalPercent,ElectoralRepVotes,ElectoralDemVotes,ElectoralOtherVotes,VictoriousParty,Population,Per-Capita Income
0,"""45001""",South Carolina,"Abbeville, SC",2016,10775,6763,"Trump, Donald J.",3741,"Clinton, Hillary R.",271,...,R,62.765661,34.719258,2.515081,9,0,0,R,24657,31821
1,"""22001""",Louisiana,"Acadia, LA",2016,27389,21162,"Trump, Donald J.",5638,"Clinton, Hillary R.",589,...,R,77.264595,20.584906,2.150498,8,0,0,R,62786,33910
2,"""51001""",Virginia,"Accomack, VA",2016,15818,8583,"Trump, Donald J.",6740,"Clinton, Hillary R.",495,...,R,54.260969,42.609685,3.129346,0,13,0,D,32871,39232
3,"""16001""",Idaho,"Ada, ID",2016,195626,93752,"Trump, Donald J.",75677,"Clinton, Hillary R.",26197,...,R,47.924100,38.684531,13.391369,4,0,0,R,444486,48429
4,"""19001""",Iowa,"Adair, IA",2016,3811,2461,"Trump, Donald J.",1133,"Clinton, Hillary R.",217,...,R,64.576227,29.729730,5.694044,6,0,0,R,7005,47195

In [17]:
#Concatenate the GDP data with the voting, population, and income data by year, and sort the resulting data frame in 
#alphabetical order with respect to State and then Area
data4 = pd.concat([data4, x4], axis=1)
data8 = pd.concat([data8, x8], axis=1)
data12 = pd.concat([data12, x12], axis=1)
data16 = pd.concat([data16, x16], axis=1)

data4 = data4.sort_values(by=['State','Area']).reset_index(drop=True)
data8 = data8.sort_values(by=['State','Area']).reset_index(drop=True)
data12 = data12.sort_values(by=['State','Area']).reset_index(drop=True)
data16 = data16.sort_values(by=['State','Area']).reset_index(drop=True)
data16.head()

,GeoFIPS,State,Area,Year,TotalVotes,RepVotes,RepCandidate,DemVotes,DemCandidate,ThirdVotes,...,Food and Recreation Share,Government Share,Information Share,Manufacturing Share,Natural Resources Share,Other Share,Professional Share,Trade Share,Transportation Share,Utilities Share
0,"""01001""",Alabama,"Autauga, AL",2016,24973,18172,"Trump, Donald J.",5936,"Clinton, Hillary R.",865,...,3.215352,14.498714,1.504106,16.347586,2.322992,2.509738,2.573424,9.010712,0.939498,26.587851
1,"""01003""",Alabama,"Baldwin, AL",2016,95215,72883,"Trump, Donald J.",18458,"Clinton, Hillary R.",3874,...,9.706772,11.897936,1.375609,7.114186,0.529553,3.738034,6.934127,18.224820,1.874305,0.476557
2,"""01005""",Alabama,"Barbour, AL",2016,10469,5454,"Trump, Donald J.",4871,"Clinton, Hillary R.",144,...,2.652841,16.913832,0.718992,27.115195,15.335468,3.315978,0.000000,0.000000,5.817296,1.391635
3,"""01007""",Alabama,"Bibb, AL",2016,8819,6738,"Trump, Donald J.",1874,"Clinton, Hillary R.",207,...,2.368543,25.949216,0.000000,8.779150,2.667561,0.000000,2.557048,15.909241,0.000000,0.597460
4,"""01009""",Alabama,"Blount, AL",2016,25588,22859,"Trump, Donald J.",2156,"Clinton, Hillary R.",573,...,2.701008,18.577519,2.171296,11.853968,6.620655,6.069090,5.488804,13.318107,0.000000,0.653587

In [18]:
gdp16.loc[(gdp16.GeoName == 'Blount, AL'), ['GeoFIPS','GeoName','Description',
                                            '2016','2016-Share']].sort_values(by='Description')

    GeoFIPS     GeoName           Description      2016  2016-Share
57  "01009"  Blount, AL          Construction  0.058726    7.333307
63  "01009"  Blount, AL  Education and Health  0.000000    0.000000
61  "01009"  Blount, AL               Finance  0.201906   25.212659
64  "01009"  Blount, AL   Food and Recreation  0.021630    2.701008
66  "01009"  Blount, AL            Government  0.148771   18.577519
60  "01009"  Blount, AL           Information  0.017388    2.171296
58  "01009"  Blount, AL         Manufacturing  0.094928   11.853968
67  "01009"  Blount, AL     Natural Resources  0.053019    6.620655
65  "01009"  Blount, AL                 Other  0.048602    6.069090
62  "01009"  Blount, AL          Professional  0.043955    5.488804
69  "01009"  Blount, AL             Total GDP  0.800812  100.000000
68  "01009"  Blount, AL                 Trade  0.106653   13.318107
59  "01009"  Blount, AL        Transportation  0.000000    0.000000
56  "01009"  Blount, AL             Utilities  0.005234    0.653587

In [19]:
vote_groups.head()

,GeoFIPS,State,Area,RepAveragePercent,DemAveragePercent,ThirdAveragePercent,PartyPref
0,"""01001""",Alabama,"Autauga, AL",73.636951,24.944773,1.418276,Solid R
1,"""01003""",Alabama,"Baldwin, AL",76.360048,21.812804,1.827148,Solid R
2,"""01005""",Alabama,"Barbour, AL",51.365440,47.920566,0.713994,Tossup
3,"""01007""",Alabama,"Bibb, AL",73.418284,25.371230,1.210486,Solid R
4,"""01009""",Alabama,"Blount, AL",85.119047,13.399093,1.481859,Solid R

In [20]:
#Create another data frame by concatenating the originals (without the year designations in their columns) together 
#into one, and drop the GeoName column that is essentially a duplicate of the Area one.  Note that vote_groups has not
#been included in this one
capstone = pd.concat([data4, data8, data12, data16])
capstone = capstone.reset_index(drop=True)
capstone = capstone.drop(['GeoName'], axis=1)
capstone.head()

,GeoFIPS,State,Area,Year,TotalVotes,RepVotes,RepCandidate,DemVotes,DemCandidate,ThirdVotes,...,Food and Recreation Share,Government Share,Information Share,Manufacturing Share,Natural Resources Share,Other Share,Professional Share,Trade Share,Transportation Share,Utilities Share
0,"""01001""",Alabama,"Autauga, AL",2004,20081,15196,"Bush, George W.",4758,"Kerry, John F.",127,...,4.063411,14.656644,1.256860,20.341344,4.420236,3.405941,2.924613,12.628688,1.515793,8.589459
1,"""01003""",Alabama,"Baldwin, AL",2004,69320,52971,"Bush, George W.",15599,"Kerry, John F.",750,...,6.323489,12.412415,3.284410,8.466835,0.724616,3.413059,5.569874,14.932033,1.854427,0.428236
2,"""01005""",Alabama,"Barbour, AL",2004,10777,5899,"Bush, George W.",4832,"Kerry, John F.",46,...,1.949595,14.375456,0.784946,38.043154,13.666833,2.110752,0.000000,0.000000,6.873852,1.376884
3,"""01007""",Alabama,"Bibb, AL",2004,7600,5472,"Bush, George W.",2089,"Kerry, John F.",39,...,0.000000,27.344392,1.510694,10.051956,5.769849,5.706834,4.671466,0.000000,3.726656,0.949817
4,"""01009""",Alabama,"Blount, AL",2004,21504,17386,"Bush, George W.",3938,"Kerry, John F.",180,...,2.821073,20.671150,7.666657,0.000000,0.000000,6.589971,0.000000,16.001412,0.000000,0.753542

In [21]:
print(capstone.shape)

(12340, 48)

In [22]:
list(capstone.columns)

['GeoFIPS',
 'State',
 'Area',
 'Year',
 'TotalVotes',
 'RepVotes',
 'RepCandidate',
 'DemVotes',
 'DemCandidate',
 'ThirdVotes',
 'PluralityVotes',
 'PluralityParty',
 'RepVotesTotalPercent',
 'DemVotesTotalPercent',
 'ThirdVotesTotalPercent',
 'ElectoralRepVotes',
 'ElectoralDemVotes',
 'ElectoralOtherVotes',
 'VictoriousParty',
 'Population',
 'Per-Capita Income',
 'Construction',
 'Education and Health',
 'Finance',
 'Food and Recreation',
 'Government',
 'Information',
 'Manufacturing',
 'Natural Resources',
 'Other',
 'Professional',
 'Total GDP',
 'Trade',
 'Transportation',
 'Utilities',
 'Construction Share',
 'Education and Health Share',
 'Finance Share',
 'Food and Recreation Share',
 'Government Share',
 'Information Share',
 'Manufacturing Share',
 'Natural Resources Share',
 'Other Share',
 'Professional Share',
 'Trade Share',
 'Transportation Share',
 'Utilities Share']

In [23]:
vote_groups

,GeoFIPS,State,Area,RepAveragePercent,DemAveragePercent,ThirdAveragePercent,PartyPref
0,"""01001""",Alabama,"Autauga, AL",73.636951,24.944773,1.418276,Solid R
1,"""01003""",Alabama,"Baldwin, AL",76.360048,21.812804,1.827148,Solid R
2,"""01005""",Alabama,"Barbour, AL",51.365440,47.920566,0.713994,Tossup
3,"""01007""",Alabama,"Bibb, AL",73.418284,25.371230,1.210486,Solid R
4,"""01009""",Alabama,"Blount, AL",85.119047,13.399093,1.481859,Solid R
...,...,...,...,...,...,...,...
3080,"""56037""",Wyoming,"Sweetwater, WY",66.521484,28.405306,5.073210,Solid R
3081,"""56039""",Wyoming,"Teton, WY",38.900963,56.340835,4.758202,Solid D
3082,"""56041""",Wyoming,"Uinta, WY",73.530346,20.839022,5.630632,Solid R
3083,"""56043""",Wyoming,"Washakie, WY",75.704660,20.086538,4.208802,Solid R
3084,"""56045""",Wyoming,"Weston, WY",81.977289,14.383763,3.638948,Solid R

In [24]:
#Replicate the rows of vote_groups 4 times so that the last column can be concatenated with capstone later
v = pd.concat([vote_groups]*4, ignore_index=True)
v.loc[(v.Area == 'Autauga, AL')]

,GeoFIPS,State,Area,RepAveragePercent,DemAveragePercent,ThirdAveragePercent,PartyPref
0,"""01001""",Alabama,"Autauga, AL",73.636951,24.944773,1.418276,Solid R
3085,"""01001""",Alabama,"Autauga, AL",73.636951,24.944773,1.418276,Solid R
6170,"""01001""",Alabama,"Autauga, AL",73.636951,24.944773,1.418276,Solid R
9255,"""01001""",Alabama,"Autauga, AL",73.636951,24.944773,1.418276,Solid R

In [25]:
#Add the updated PartyPref column to capstone
capstone = pd.concat([capstone, v['PartyPref']], axis=1)
capstone = capstone.rename(columns = {'GDP per capita':'Per-Capita GDP'})
capstone = capstone.reset_index(drop=True)
capstone.loc[(capstone.Area == 'Autauga, AL')]

,GeoFIPS,State,Area,Year,TotalVotes,RepVotes,RepCandidate,DemVotes,DemCandidate,ThirdVotes,...,Government Share,Information Share,Manufacturing Share,Natural Resources Share,Other Share,Professional Share,Trade Share,Transportation Share,Utilities Share,PartyPref
0,"""01001""",Alabama,"Autauga, AL",2004,20081,15196,"Bush, George W.",4758,"Kerry, John F.",127,...,14.656644,1.256860,20.341344,4.420236,3.405941,2.924613,12.628688,1.515793,8.589459,Solid R
3085,"""01001""",Alabama,"Autauga, AL",2008,23641,17403,"McCain, John S. III",6093,"Obama, Barack H.",145,...,15.872394,0.864441,17.753909,2.813506,3.942205,3.864786,12.365763,1.439522,10.233980,Solid R
6170,"""01001""",Alabama,"Autauga, AL",2012,23973,17379,"Romney, W. Mitt",6363,"Obama, Barack H.",231,...,13.758600,0.599881,13.520692,1.836896,2.905466,2.798683,9.328451,1.107235,29.830183,Solid R
9255,"""01001""",Alabama,"Autauga, AL",2016,24973,18172,"Trump, Donald J.",5936,"Clinton, Hillary R.",865,...,14.498714,1.504106,16.347586,2.322992,2.509738,2.573424,9.010712,0.939498,26.587851,Solid R

In [26]:
#Export capstone to Excel
#capstone.to_excel(r'capstone-10_08_21.xlsx')

In [27]:
#References

#https://stackoverflow.com/questions/26255671/pandas-column-values-to-columns
#https://stackoverflow.com/questions/29765548/remove-index-name-in-pandas